:root {
	--Soft-blue: hsl(215, 51%, 70%);
	--Cyan: hsl(178, 100%, 50%);
	--main-bg: hsl(217, 54%, 11%);
	--card-bg: hsl(216, 50%, 16%);
	--Very-dark-blue: hsl(215, 32%, 27%);
	--White: hsl(0, 0%, 100%);
	--border-radius: 15px;
}
body {
	font-family: 'Outfit', sans-serif;
	background-color: var(--main-bg);
	margin-top: 2em;
	margin-bottom: 5em;
}
.card {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	background-color: var(--card-bg);
	border-radius: var(--border-radius);
	padding: 1.5em;
}
@media screen and (min-width: 768px) {
	.card {
		width: 50%;
	}
}

@media screen and (min-width: 1024px) {
	body {
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0;
		overflow: hidden;
	}
	.card {
		width: 25%;
	}
}

.card__img {
	display: block;
	max-width: 100%;
	border-radius: var(--border-radius);
	z-index: 0;
}
.icon__active {
	display: none;
}
@media screen and (min-width: 1024px) {
	.card__img{
		cursor: pointer;
	}
	.card__top {
		position: relative;
	}
	.icon__active{
		display: block;
	}
	.img__active{
		display:none;
		justify-content: center;
		align-items: center;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: rgba(0,255,247, 0.4);
		border-radius: var(--border-radius);
	}
}
.card__body {
	padding-bottom: 1em;
	font-size: 18px;
	border-bottom: 1px solid var(--Very-dark-blue);
}
.card__title {
	color: var(--White);
	font-size: 1.5rem;
	font-weight: 600;
}
.card__text {
	font-size: 1rem;
	width: 95%;
	color: var(--Very-dark-blue);
	font-weight: 400;
}
.card__info {
	display: flex;
	justify-content: space-between;
}
.text__green,
.text__gray {
	font-size: 0.9rem;
}
.text__green {
	color: var(--Cyan);
}
.text__gray {
	color: var(--Soft-blue);
}
.card__icon {
	transform: translateY(20%);
}
.card__footer {
	display: flex;
	justify-content: spaace-evenly;
	align-items: center;
	margin-top: 0.5em;
}
.footer__img {
	max-width: 12.5%;
	border-radius: 50%;
	border: 1px solid var(--White);
}
.footer__name {
	display: inline-block;
	margin-left: 10px;
	margin-right: 5px;
	color: var(--Soft-blue);
}
.text__white {
	color: var(--White);
}
@media (hover: hover) {
	.card__title:hover,
	.footer__name:hover {
		cursor: pointer;
		color: var(--Cyan);
	}
	.card__img:hover + .img__active {
		display: flex;
	}
}
